@import "tailwindcss";

@theme {
  --color-primary: #f4c025;
  --color-primary-dim: #b38c1b;
  --color-background-light: #f8f8f5;
  --color-background-dark: #221e10;
  --color-surface-dark: #2d281a;
  --color-surface-light: #FFFFFF;
  --color-text-secondary: #cbbc90;
  --color-accent-red: #ef4444;
  --color-accent-green: #22c55e;

  --font-display: var(--font-playfair);
  --font-sans: var(--font-manrope);
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 34, 30, 16;
  --background-end-rgb: 34, 30, 16;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: var(--font-sans), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
